<h1>{{pageMessage}}<small>powered by 尼古拉斯铁成</small></h1>
<div class="row" style="margin-bottom: 20px;">
	<div class="col-md-5">
		<input type="text" class="form-control" placeholder="输入查询条件" ng-model="query">
	</div>
</div>

<div class="tb">
	<div class="row">
		<div class="col-md-3">电影名字</div>
		<div class="col-md-1">导演</div>
		<div class="col-md-1">国家</div>
		<div class="col-md-1">上映年份</div>
		<div class="col-md-2">录入时间</div>
		<div class="col-md-2">更新时间</div>
		<div class="col-md-2">
			<div class="row">
				<div class="col-md-4">查看</div>
				<div class="col-md-4">更新</div>
				<div class="col-md-4">删除</div>
			</div>
		</div>
	</div>
	<div class="row list" ng-repeat='movie in movies|filter:query'>
		<div class="col-md-3">{{movie.title}}</div>
		<div class="col-md-1">{{movie.director}}</div>
		<div class="col-md-1">{{movie.country}}</div>
		<div class="col-md-1">{{movie.year}}</div>
		<div class="col-md-2">{{movie.meta.createAt|dateFilter}}</div>
		<div class="col-md-2">{{movie.meta.updateAt|dateFilter}}</div>
		<div class="col-md-2">
			<div class="row">
				<div class="col-md-4"><a href="#/movie/{{movie._id}}">查看</a></div>
				<div class="col-md-4"><a href="#/update/{{movie._id}}">更新</a></div>
				<div class="col-md-4"><a ng-click="remove(movie)" class="btn btn-danger">删除</a></div>
			</div>
		</div>
	</div>	
</div>

<div id="mask">
</div>
<div id="del-or-not">
	<p class="info">真的要删除<span class="delname"></span>吗？</p>
	<div class="bgc">
		<img src="/images/cry.jpg" alt="">
	</div>
	<div class="row">
		<div class="col-md-offset-7 col-md-4">
			<button class="delete btn btn-danger">删除</button>
			<button class="cancel btn btn-default">取消</button>
		</div>
	</div>
	<img class='logo' src="/images/drink-cat.gif" alt="">
</div>
