.page{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
    background-color: #fff;
}

.fix{position: fixed;left: 10px;top: 100px;margin: 0;padding: 0;z-index: 10000;}
.fix ul{padding: 0;}
.fix li{list-style: none;margin-bottom: 10px;}
.tb>.row{
	padding-top: 10px;
	border-bottom: 1px rgba(0,0,0,0.2) solid;
}

#mask{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.5;
	filter: alpha(opacity=50);
	z-index: 100;
	display: none;
}

#del-or-not{
	position: fixed;
	opacity: 1;
	z-index: 200;
	width: 400px;
	height: 300px;
	border-radius: 20px;
	background-color: #fff;
	display: none;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
	background: url(../images/wood.jpg);
}

#del-or-not .info{
	text-align: center;
	font-size: 16px;
	font-family: 'microsoft yahei';
}


#del-or-not .info .delname{
	font-size: 24px;
	font-weight: bold;
}

@-webkit-keyframes del-enter{
	from {-webkit-transform: translateY(-200%);}
	to {-webkit-transform: translateY(0);}
}

@-webkit-keyframes del-leave{
	from {-webkit-transform: translateY(0);}
	to {-webkit-transform: translateY(-200%);}
}

.del-enter{
	-webkit-animation: del-enter .3s ease-in  forwards;
}

.del-leave{
	-webkit-animation: del-leave .3s ease-in forwards;
}

#del-or-not .bgc{
	text-align: center;
	margin-bottom: 10px;
}

#del-or-not .bgc img{
	width: 70%;
    
}


#del-or-not .logo{
	width: 100px;
	height: 100px;
	position: absolute;
	top: -80px;
	right: 0;
}


.row.list:hover{
	background-color: rgba(174,222,203,0.3);
}